@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Products>
@{
    Layout = "_Master.cshtml";
}

<partial name="Partials/SectionHeader" />

<section class="bb-section bb-section--light">
    <div class="bb-product-grid">
        @if (Model.FeaturedProducts != null)
        {
            foreach (Product product in Model.FeaturedProducts)
            {
                <a href="@product.Url()" class="bb-product-card">
                    <div class="bb-product-card__image"
                         style="background-image: url('@product.Photos?.Url()')">
                        <div class="bb-product-card__overlay">
                            <div class="bb-product-card__name">@product.ProductName</div>
                            <div class="bb-product-card__price">@Model.DefaultCurrency @product.Price.ToString("F")</div>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</section>
